{% extends 'layout.html' %}

{% block content%}
    <style>
img {
    border-radius: 50%;
}
th {
    text-align: center;
}
    </style>
<p>The Swiss Army Assistant website has cutting edge technology to help you do things you could already do elsewhere.</p>
<p>Team Members:</p>

    <table style="width: 50%">
        <tr>
            <th>
            <img src="static/connorBusiness1.jpg" style="width:100px">
            <figcaption>Connor</figcaption> </th>
            <th>
                <img src="static/daleBusiness1.jpg" style="width: 100px">
                <figcaption>Dale</figcaption>
            </th>
            <th>
             <img src="static/benBusiness1.jpg" style="width: 100px">
                <figcaption>Ben</figcaption>
            </th>
            <th>
                <img src="static/robBusiness1.jpg" style="width: 100px">
                <figcaption>Rob</figcaption>
            </th>
            <th>
                <img src="static/salBusiness 1.jpg" style="width: 100px">
                <figcaption>Sal</figcaption>
            </th>
        </tr>
    </table>

{% endblock %}
