<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Swiss Army Assistant</title>


    <!--for the persistent nodepad-->
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <!-- Bootstrap for icon buttons, hopefully they will work -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap for newspaper icon button -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <h1 class="head">Swiss Army Assistant</h1>

    <br>
    <br>
    <div class="container homeBtns">


        <!--bootstrap buttons-->
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/calc"><i class="fa fa-calculator"></i> </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/note"><i class="fa fa-pencil-square"></i> </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/music"><i class="fa fa-music"></i> </a>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/files"><i class="fa fa-folder"></i> </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/"><i class="fa fa-newspaper"></i> </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/about"><i class="fa fa-gear"></i> </a>
            </div>
        </div>
    </div>

</body>








