{% extends 'navbar.html' %}

{% block content%}
<h2>About</h2>
<h3>The Swiss Army Assistant: Mankind's Next Step</h3>
<p>Fire, the steam engine, the personal computer, the internet, the smart phone. Now it's time for mankind to take its next step</p>
<p>Introducing: The Swiss Army Assistant. All the utility of your Swiss Army knife, in the palm of your hand, but now on a screen.</p>
<h3>Key Features:</h3>
<ul>
    <li>A Calculator, able to perform over two billion different mathmatical equations</li>
    <li>Real time weather tracking, with helpful graphics for the numerically impaired</li>
    <li>Unlimited* cloud storage</li>
    <li>Notepad, with support for every letter in the English language, and beyond</li>
    <li>Dynamic and versatile themes featuring over two colors</li>
    <li>A music player which could play grammy award winning musical tracks</li>
    <li>Integrated news from reputable journalists and Fox</li>
</ul>
<p>*Unlimited cloud storage must not exceed 4Gb</p>
<p>Team members:</p>
<ul>
    <li>Connor</li>
    <li>Rob</li>
    <li>Sal</li>
    <li>Dale</li>
    <li>Ben</li>
</ul>

<h3>{{ friendlyTheme }}</h3>
{% endblock %}
