{% extends 'layout.html' %}

{% block content %}
<br>
<br>
<!--<div class="container">-->


    <!--bootstrap buttons-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<a class="btn btn-primary btn-lg" href="/calc">Calculator</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4">-->
            <!--<a class="btn btn-primary btn-lg" href="/note">Notepad</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4">-->
            <!--<a class="btn btn-primary btn-lg" href="/">Tool</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<br>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<a class="btn btn-primary btn-lg" href="/">File Manager</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4">-->
            <!--<a class="btn btn-primary btn-lg" href="/">Another tool</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4">-->
            <!--<a class="btn btn-primary btn-lg" href="/about">About</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->





<!--form test not used in final product-->
<!--<h1 class="head">Form Test</h1>-->
<!--<form method="POST">-->
    <!--<input type="text" name="txt">-->
    <!--<input type="submit" class="fancyButton" name="submit">-->
<!--</form>-->
<!--<p class="jumbotron">{{new_text}}</p>-->









{% endblock %}
