{% extends 'layout.html' %}



{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Swiss Army Assistant</title>
</head>

<body>
    <h2 class="head">Swiss Army Assistant</h2>
    <br>
    <br>
    <div class="container homeBtns">


        <!--bootstrap buttons-->
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/calc">Calculator</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/note">Notepad</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/music">Music Player</a>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/files">File Manager</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/news">News</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/about">About</a>
            </div>
        </div>
    </div>

    <br><br><br><br><br>

    <div class="container weather">
        <a class="weatherwidget-io" href="https://forecast7.com/en/42d68n83d13/rochester/?unit=us" data-label_1="ROCHESTER, MI" data-label_2="WEATHER" data-font="Arial" data-icons="Climacons Animated" ></a>
    </div>

    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>

</body>
{% endblock %}







