{% extends 'layout.html' %}



{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Swiss Army Assistant</title>
</head>

<body>
    <h1 class="head">Swiss Army Assistant</h1>

    <br>
    <br>
    <div class="container homeBtns">


        <!--bootstrap buttons-->
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/calc">Calculator</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/note">Notepad</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/music">Music Player</a>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/files">File Manager</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/">Another tool</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg fancyButton" href="/about">About</a>
            </div>
        </div>
    </div>

</body>
{% endblock %}







