{% extends 'navbar.html' %}


{% block content%}

<meta charset="utf-8">
<link rel="stylesheet" >
<html class="" lang="en">
<head>
    <!--This script loads the selected song. Put it in a separate .js file just to test that functionality-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/load.js') }}"></script>
</head>
<body>
<h1>Music</h1>
<label id="title"></label>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h3 style="display: inline">Your {{ path }}</h3>
            <select id = "songpicker" name="folder" style="display:inline">
                <option selected="" disabled>Select a song</option>
                <!--When a song is selected, the code in load.js will handle the song loading-->
                {% for file in files %}
                    <option>
                        {{ file }}
                    </option>
                {% endfor %}
            </select>
            <br>
        </div>
    </div>
    <div class="row">
            <div class="container-audio">
                <audio controls id="audio_core" preload="auto" src="">
                    Your browser does not support the audio tag
                </audio>
            </div>
            <br>
    </div>
</div>

</body>
</html>

{% endblock %}

<!--https://drive.google.com/file/d/1BZAcwMSmxdVBp8U7Bk_dIuCumqEhNGh9/view?usp=sharing-->
<!--to-->
<!--http://docs.google.com/uc?export=open&id=1BZAcwMSmxdVBp8U7Bk_dIuCumqEhNGh9-->
