{% extends 'layout.html' %}


{% block content%}

<script type="text/javascript">
    function getFilename()
    {
        var fileName = document.getElementById('fileupload');
        return fileName.files.item(0).name;
    }
</script>


<meta charset="utf-8">
<link rel="stylesheet" href="static/styles/m.css">
<html class="" lang="en">
<head>
    <!--This script loads the selected song. Put it in a separate .js file just to test that functionality-->
    <script type="text/javascript" src="{{ url_for('static', filename='styles/load.js') }}"></script>
</head>
<body>

<br><br>
<h2>Swiss Army Assistant Music</h2>
<label id="title"></label>
    <div class="container-audio">

        <audio controls id="audio_core" preload="auto" src="">
                   <!--<source id="music_src" type="audio/mp3">-->
                   Your browser does not support the audio tag
        </audio>

    </div>
        <br>
<input type="file" name="fileupload" id="fileupload" value="fileupload" style="display: none" accept=".mp3">
<nav2>
        <input type="button" value="Choose Song" onclick="document.getElementById('fileupload').click();" class="fancyButton"/>
</nav2>

</body>
</html>

{% endblock %}

<!--https://drive.google.com/file/d/1BZAcwMSmxdVBp8U7Bk_dIuCumqEhNGh9/view?usp=sharing-->
<!--to-->
<!--http://docs.google.com/uc?export=open&id=1BZAcwMSmxdVBp8U7Bk_dIuCumqEhNGh9-->