{% extends 'layout.html' %}
{% block navbar %}
<br>
<body>
    <ul class ="nav">
        <li><a class="fancyButton" href="/">Home</a></li>
        <li><a class="fancyButton" href="/calc">Calculator</a></li>
        <li><a class="fancyButton" href="/note">Notepad</a></li>
        <li><a class="fancyButton" href="/music">Music Player</a></li>
        <li><a class="fancyButton" href="/files">File Manager</a></li>
        <li><a class="fancyButton" href="/news">News</a></li>
        <li><a class="fancyButton" href="/about">About</a></li>
    </ul>
    <br>
{% endblock %}

{% block content %}

{% endblock %}

</body>

