{% extends 'navbar.html' %}


{% block content%}
<link rel="stylesheet" href="static/styles/n.css">
<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Swiss Army Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<br><br>
<!--div class="content">
    <a class="twitter-timeline" data-theme="dark" data-link-color="#1e90ff" data-chrome="noborders nofooter" href="https://twitter.com/Newsweek?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/washingtonpost?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/nytimes?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/WSJ?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div-->

<div class="container">
    <div class="page-header">
        <h2>US</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/FoxNews?ref_src=twsrc%5Etfw">Tweets by FoxNews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </a>
        </div>
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/NPR?ref_src=twsrc%5Etfw">Tweets by NPR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
        </div>
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/WSJ?ref_src=twsrc%5Etfw">Tweets by WSJ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="page-header">
        <h2>Technology</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/engadget?ref_src=twsrc%5Etfw">Tweets by engadget</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/WIRED?ref_src=twsrc%5Etfw">Tweets by WIRED</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/SpaceX?ref_src=twsrc%5Etfw">Tweets by SpaceX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="page-header">
        <h2>Sports</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/espn?ref_src=twsrc%5Etfw">Tweets by espn</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/TwitterSports?ref_src=twsrc%5Etfw">Tweets by TwitterSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-sm">
            <a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/YahooSports?ref_src=twsrc%5Etfw">Tweets by YahooSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}