{% extends 'layout.html' %}


{% block content%}
<link rel="stylesheet" href="static/styles/n.css">
<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Swiss Army Assistant</title>
</head>
<body>
<br><br>
<div class="content">
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/Newsweek?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/washingtonpost?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/nytimes?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a class="twitter-timeline" data-width="97%" data-height="500" data-theme="dark" data-link-color="#1e90ff" data-tweet-limit = "3" data-chrome="noborders nofooter" href="https://twitter.com/WSJ?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</body>
</html>
{% endblock %}