{% extends 'layout.html' %}


{% block content%}


<body>

<h1>File Uploader</h1>
<form id="upload-form" action="{{ url_for('file') }}" method="POST" enctype="multipart/form-data">
    <label>Upload Path</label>
    <select name="folder">
        <option value="Documents">Documents</option>
        <option value="Music">Music</option>
        <option value="Pictures">Pictures</option>
    </select>
    <input type="submit" value="View Files" onclick="document.getElementById('hiddenTag').value('List')">
    <!--<input type="text" value="{{ path }}" name="txtpath">-->
    <input type="file" name="file" accept="image/*" multiple>
    <input type="submit" value="send" onclick="document.getElementById('hiddenTag').value('Upload')">
</form>


<ul>
{% for file in files %}
    <li><a type="button" value="{{ file }}" onclick="document.getElementById('hiddenTag').value('{{ file }}')"></li>
{% endfor %}
</ul>

<input type="hidden" id="hiddenTag" name="hiddenTag" value="null">

</body>
{% endblock %}
