@keyframes pulse {
    0% {
        background-color: dodgerblue;
    }
    100% {
        background-color: ghostwhite;
    }
}

@keyframes pulse2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: dodgerblue;
    }
}

.fancyButton
{
    background-color: dimgrey;
    color: white;
}

.fancyButton:hover
{
    background-color: dodgerblue;
    color: white;
}

/*Finally, the hover effects for the buttons (drop shadows)*/
.container>.calcButton:hover
{
    background-color: dodgerblue;
    transition: ease .5s;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000000;
}

.container-audio
{
    background-color: dodgerblue;
}

.title{
    text-align:center;
    align-content: center;
}

/*Formatting for File Manager*/
table, td, thead{
    table-layout:auto;
    border:3px solid dodgerblue;
}
thead{
    font-weight:bold;
    background-color:dodgerblue;
    color:white;
    text-align:center;
}

.filesList:hover{
    font-weight:bold;
    color:dodgerblue;
}