body{
    background-image: url(/static/background-60.jpg);
}

@keyframes pulse {
    0% {
        background-color: #527EAC;
    }
    100% {
        background-color: ghostwhite;
    }
}

@keyframes pulse2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #527EAC;
    }
}

.fancyButton
{
    background-color: dimgrey;
    color: white;
}

.fancyButton:hover
{
    background-color: #527EAC;
    color: white;
}

.btn:hover
{
    background-color: #527EAC;
    color: white;
}

/*Finally, the hover effects for the buttons (drop shadows)*/
.container>.calcButton:hover
{
    background-color: #527EAC;
    transition: ease .5s;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000000;
}

.container-audio
{
    background-color: #527EAC;
}

.title{
    text-align:center;
    align-content: center;
}

/*Formatting for File Manager*/
table, td, thead{
    table-layout:auto;
    border:3px solid #527EAC;
}
thead{
    font-weight:bold;
    background-color:#527EAC;
    color:white;
    text-align:center;
}

.filesList:hover{
    font-weight:bold;
    color:#527EAC;
}

.active{
    background-color: #527EAC;
    color: white;
}

#themeButton
{
    color: white;
}

#themeDropdown-Content
{
    background-color: #527EAC;
    color: white;
}

.pics
{
    border: none;
    color: white;
}

.team
{
    color: white;
}
