
body
{
    background-color: lightgray;
}

/*Outer Container which helps position the calculator in the center of the screen*/
.outerContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*The actual calculator, which contains another grid*/
.container
{
    /*Center the calculator*/
    grid-column-start: 1;
    grid-column-end: 5;
    /*Hack the size together. This is not a good way to do this honestly*/
    width: 40%;
    height: 150%;
    padding: 20px;
    margin-top: 5%;
    /*Create the new grid to position the buttons*/
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    /*Final styling*/
}

/*Below, all the buttons are positioned on the grid inside the container*/
.container>#c
{
    grid-column-start: 1;
    grid-row-start: 1;
}

.container>#parentheses
{
    grid-column-start: 5;
    grid-row-start: 2;
}

.container>#parentheses2
{
    grid-column-start: 5;
    grid-row-start: 3;
}

.container>#percent
{
    grid-column-start: 5;
    grid-row-start: 4;
}

.container>#exponential
{
    grid-column-start: 5;
    grid-row-start: 5;
}

.container>#display
{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
}

.container>#one
{
    grid-column-start: 3;
    grid-row-start: 4;
}

.container>#two
{
    grid-column-start: 2;
    grid-row-start: 4;
}

.container>#three
{
    grid-column-start: 1;
    grid-row-start: 4;
}

.container>#four
{
    grid-column-start: 3;
    grid-row-start: 3;
}

.container>#five
{
    grid-column-start: 2;
    grid-row-start: 3;
}

.container>#six
{
    grid-column-start: 1;
    grid-row-start: 3;
}

.container>#seven
{
    grid-column-start: 3;
    grid-row-start: 2;
}

.container>#eight
{
    grid-column-start: 2;
    grid-row-start: 2;
}

.container>#nine
{
    grid-column-start: 1;
    grid-row-start: 2;
}

.container>#zero
{
    grid-column-start: 1;
    grid-row-start: 5;
}

.container>#dec
{
    grid-column-start: 2;
    grid-row-start: 5;
}

.container>#plus
{
    grid-column-start: 4;
    grid-row-start: 2;
}

.container>#minus
{
    grid-column-start: 4;
    grid-row-start: 3;
}

.container>#star
{
    grid-column-start: 4;
    grid-row-start: 4;
}

.container>#slash
{
    grid-column-start: 4;
    grid-row-start: 5;
}

.container>#equals
{
    grid-column-start: 3;
    grid-row-start: 5;
}

/*Outside of position, all the buttons have the same style*/
.container>.calcButton
{
    width: 75px;
    height: 100%;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 0px;
    border-radius: 10px;
}
/*Some text box styling to make it fit better and adjust the font size*/
.container>#display
{
    height: 100%;
    width: 340px;
    border-radius: 10px;
    font-size: 24px;
}
/*Finally, the hover effects for the buttons (drop shadows)*/
.container>.calcButton:hover
{
    transition: ease .3s;
    background-color: limegreen;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000000;
}
