body{
    background-image: url(/static/SAS_background.png);
}

@keyframes pulse {
    0% {
        background-color: blue;
    }
    100% {
        background-color: ghostwhite;
    }
}

@keyframes pulse2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: blue;
    }
}

.fancyButton
{
    background-color: dimgrey;
    color: white;
}

.fancyButton:hover
{
    background-color: blue;
    color: white;
}

.btn:hover
{
    background-color: blue;
    color: white;
}

/*Finally, the hover effects for the buttons (drop shadows)*/
.container>.calcButton:hover
{
    background-color: blue;
    transition: ease .5s;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000000;
}

.container-audio
{
    background-color: blue;
}

.title{
    text-align:center;
    align-content: center;
}





.active{
    background-color: blue;
    color: white;
}

#themeButton
{
    color: white;
}

#themeDropdown-Content
{
    background-color: blue;
    color: white;
}

.pics
{
    border: none;
    color: white;
}

.team
{
    color: white;
}

