body{
    background-image: url(/static/backgroundDarkGreyBright-80.jpg);
    color: ghostwhite;
}

@keyframes pulse {
    0% {
        background-color: gray;
    }
    100% {
        background-color: ghostwhite;
    }
}

@keyframes pulse2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: gray;
    }
}

.fancyButton
{
    background-color: dimgrey;
    color: white;
}

.btn:hover
{
    background-color: gray;
    color: white;
}

.fancyButton:hover
{
    background-color: gray;
    color: white;
}

/*Finally, the hover effects for the buttons (drop shadows)*/
.container>.calcButton:hover
{
    background-color: gray;
    transition: ease .5s;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000000;
}

.container-audio
{
    background-color: gray;
}

.nicEdit-main {
    background: dimgray;
    color: ghostwhite;
    opacity: .85;
}

.weatherwidget-io{
    background-color: dimgray;
    border-radius: 10px
}

#display{
    background-color: gray;
}

.active{
    background-color: gray;
    color: white;
}

.filesList
{
    color: lightgrey;
}

.pics
{
    border: none;
}

#themeDropdown-Content
{
    background-color: dimgray;
    color: white;
}

/*Formatting for File Manager*/
table, td, thead{
    table-layout:auto;
    border:3px solid dimgray;
}
thead{
    font-weight:bold;
    background-color: dimgray;
    color:white;
    text-align:center;
}