body {
    animation: pulse 3s;
    /*text-align:center;*/
    color:#000;
}
h2{
    animation-duration: 2s;
    animation-name: slideIn;
}
h1{
    animation-duration: 2s;
    animation-name: slideIn;
}
nav{
    animation-duration: 2s;
    animation-name: slideIn;
}
nav2{
    animation-duration: 2s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from{
        margin-left: 100%;
        width:300%;
    }
    to{
        margin-left: 0%;
        width:100%
    }
}

.container-audio {
    width: 97%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    color: #444;
    margin: 20px auto;
    overflow: hidden;
    /*animation: pulse2 7s;*/
    animation: pulse2 3s;
}
audio {
    width:100%;

    animation-duration: 2s;
    animation-name: slideIn;
}

label{
    color: black;
}