@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
body{
    animation-duration: 2s;
    animation-name: fadeIn;
    width: 100%
}
.fancyButton
{
    transition: ease, .5s;
    border: none;
    background-color: dimgrey;
    font-family: sans-serif;
    color: white;
    padding: 5px;
    text-decoration: none;

}

.fancyButton:hover
{
    transition: ease, .5s;
    background-color: dodgerblue;
    cursor: pointer;
    text-decoration: none;
    color: white;
}



.nicEdit-main
{
    background: ghostwhite;
    opacity: .85;
     width: 100%;
     max-width: 2000px;
     box-sizing: border-box;
}


#noteForm
{

    height: auto;
    width: auto;
}

