body{
    /*animation-duration: 2s;*/
    /*animation-name: fadeIn;*/
    width: 100%
}


#noteForm
{

    height: auto;
    width: auto;

    /*position: absolute;*/

  /*z-index: 15;*/
  /*top: 15%;*/
  /*left: 15%;*/
  margin: 0 0 0 35px;

    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none;

}


