body{
    background-image: url(/static/backgroundRed-60.jpg);
}


@keyframes pulse {
    0% {
        background-color: #612D31;
    }
    100% {
        background-color: ghostwhite;
    }
}

@keyframes pulse2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #612D31;
    }
}

.fancyButton
{
    background-color: dimgrey;
    color: white;
}

.fancyButton:hover
{
    background-color: #612D31;
    color: white;
}

#pageHeaderSAS{
    color: #612D31;
}

/*Finally, the hover effects for the buttons (drop shadows)*/
.container>.calcButton:hover
{
    background-color: #612D31;
    transition: ease .5s;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000000;
}

.container-audio
{
    background-color: #612D31;
}

.title{
    text-align:center;
    align-content: center;
}

/*Formatting for File Manager*/
table, td, thead{
    border:3px solid #612D31;
}
thead{
    font-weight:bold;
    background-color: #612D31;
    color:white;
    text-align:center;
}

.filesList:hover{
    color: #612D31;
    font-weight:bold;
}

.active{
    background-color: #612D31;
    color: white;
}

.pics
{
    border: none;
    color: white;
}

.team
{
    color: white;
}
