body
{
    /*background-color: ghostwhite;*/
    background-image: url(/static/8897.jpg);
    background-repeat: no-repeat;


}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.homeBtns
{
     animation-duration: 2s;
    animation-name: fadeIn;
}
h2{
    animation-duration: 2s;
    animation-name: slideIn;
}
h1{
    animation-duration: 2s;
    animation-name: slideIn;
}
nav{
    animation-duration: 2s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from{
        margin-left: 100%;
        width:300%;
    }
    to{
        margin-left: 0%;
        width:100%
    }
}
@keyframes pulse {
    0%{
        background-color: dodgerblue;
    }
    100%{
        background-color: ghostwhite;
    }
}
@keyframes pulse2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: dodgerblue;
    }
}

.title{
    font-size: 100px;
}
.head
{
    font-family: sans-serif;
}



.fancyButton
{
    transition: ease, .3s;
    border: none;
    background-color: dimgrey;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    text-decoration: none;

}

.fancyButton:hover
{
    transition: ease, .3s;
    background-color: dodgerblue;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.jumbotron
{
    text-align: center;
    font-size: 32px;
}


.btn btn-primary btn-lg{
    width: 100px !important;
        height: 100px !important;
        font-size: 10px;
}
