body
{
    /*background-color: ghostwhite;*/
    background-image: url(/static/media/Pictures/background.jpg);
    background-repeat: no-repeat;

}

.title{
    font-size: 100px;
}

.head
{
    font-family: sans-serif;
}


.fancyButton
{
    transition: ease, .3s;
    border: none;
    background-color: dimgrey;
    font-family: sans-serif;
    color: white;
    padding: 5px;
    text-decoration: none;

}

.fancyButton:hover
{
    transition: ease, .3s;
    background-color: #e81b00;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.jumbotron
{
    text-align: center;
    font-size: 32px;
}

.btn btn-primary btn-lg{
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}